
div{
    text-align: top center;
    justify-content: center;
    width: 300px;
    background-color: black;
    font-weight: 900;
  }

li {
    width: 500px;
    border-radius: 35px 10em 10%;
    background: blue; 
  }

p {color:grey;
    
       margin: 50px;
       font-family: helvetica;
       font-weight: bold;
       font-weight: 900;
}
h2{
    text-align: left;
    font-style:italic;
    color: blue;
    font-weight: normal;
}

body {
    
     background-color: black;
     background-image: url("lab3bimage.jpg");
     background-repeat: no-repeat;
     background-position: right top;
     margin-right: 200px;
    color: var(--fontColor);
    font-family: helvetica;
  }
}
